@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}




<div class="text-center">
    <h1 class="display-4"><strong>Vintage Snoop</strong></h1>
    <p><b><em>With so much drama in the L-B-C It's kind of hard bein' Snoop D-O-double-G...</em></b></p>
</div>

<p>
    <button onclick="myMove()">Click Me</button>
</p>
<div id="myContainer">
    <div id="myAnimation">
    </div>
</div>


<div class="center">
    <iframe width="560" height="450"
            src="https://www.youtube.com/embed/FcxBoDC39SI"
            allowfullscreen>
    </iframe>
</div>


